# R
.Rhistory
.RData
.Rproj.user/

# Python
__pycache__/
*.pyc

# Linux
*~
.DS_Store

# Conda
.env
.conda

# Cytoscape
*.cys~

# Logs
*.lograw_fastq/
trimmed_fastq/
reference/
hisat2_index/
aligned/
qc/
*.bam
*.sra
*.fastq
*.fastq.gz
